<ROOT_URL>https://dietaholics.com</ROOT_URL><CLIENT_EMAIL></CLIENT_EMAIL><LICENSE_CODE>e8416787-7f86-44f7-8117-72ad358538d3</LICENSE_CODE><LCD>TGxERy9rbmpSQmlPYVdlSWthQ25QQT09OjpIr2VVdloH+44HSCiaOF/K</LCD><LRD>TDJuLzh5T2tWSG9EbElNSkFLK1dndz09OjrZ9KbWXs1G1WTO3PKjZfP/</LRD><INSTALLATION_KEY>M2NjVVNGZDY4UXIyL2lxTTdIQ1lvNDNBVDd2YVVURGQ4eURpTWVzNGlsdUM5K2NoT0ptSURyR0pkZklsVno3VWJKNHRoMFVmdHl6R0swTjI5N1N4akE9PTo6apA8ScjeCbBvVestYID5Qg==</INSTALLATION_KEY><INSTALLATION_HASH>294e4ac479d26ba420948501617ced4d8197e87a3b1120e53c8fc6f59f33153e</INSTALLATION_HASH>